header {
  text-align: center;
}

main {
  margin: 20px;
}

li, p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
}

/* Task 1 would beed to refactor coz this is super messy somehow :. */
a {
  text-decoration: none;
}

a:link,
a:visited {
  color: green;
}

* a:active {
  color: orange;
}

/* Task 2 */
button:hover {
  background-color: black;
  color: white;  
}

/* Task 3 */
p::first-letter {
  color: red;
}

/* Task 4 */
h2 + p::first-line {
  color: blue;
}

